.background {
	-fx-background-color: #dbe4eb;
}

.pane {
	-fx-border-color: black;
	-fx-border-style: solid outside;
	-fx-border-width: 4px;
	-fx-border-radius: 5px;
}

.infoLabel {
	-fx-font-size: 20px;
	-fx-font-family: "Segoe UI Light";
}

.bouton {
	-fx-font-size: 26px;
	-fx-font-family: "Segoe UI Semibold";
}

