.background {
	-fx-background-color: #ABB2B9;
}

.pane {
	-fx-border-color: black;
	-fx-border-style: solid outside;
	-fx-border-width: 4px;
	-fx-border-radius: 5px;
}

.label {
	-fx-text-fill: black;
}

.infoPartie {
	-fx-font-size: 26px;
	-fx-font-family: "Segoe UI Semibold";
}

.boutonVagueSuivante {
	-fx-font-size: 20px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-background-color : #889199;
	-fx-border-style: solid;
	-fx-border-color: #889199;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.boutonVagueSuivante:hover {
	-fx-text-fill : #ffffff;
	-fx-background-color : #943343;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.boutonInfo {
	-fx-background-color : #889199;
	-fx-border-style: solid;
	-fx-border-color: #889199;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.boutonInfo:hover {
	-fx-text-fill : #ffffff;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.tourellesBox {
	-fx-font-size: 16px;
}

.infoLegende {
	-fx-font-size: 14px;
	-fx-border-color: black;
	-fx-border-style: solid outside;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.regles {
	-fx-font-size: 14px;
	-fx-background-color : #889199;
	-fx-border-style: solid;
	-fx-border-color: #889199;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.regles:hover {
	-fx-text-fill : #ffffff;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.boutonJouer {
	-fx-font-size: 14px;
	-fx-background-color : #889199;
	-fx-border-style: solid;
	-fx-border-color: #889199;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.textSaisirNom {
	-fx-font-size: 14px;
}

.gameOver {
	-fx-font-size: 50px;
	-fx-text-fill: red;
	-fx-font-weight: bold;
}